{% load static %}

<html>

<head>

    <title> Simply Dashboard </title>

    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

    <br>

    <div class="container bg-with shadow-md p-5" style="width: 5OOpx;">

        <h1> Dashboard </h1>

        <br>

        <p> Hi {{user}}! </p>

        <a href="{% url 'user-logout' %}"> User logout </a>



        </form>




    </div>


</head>






</html>