{% load static %}

<html>

<head>

    <title> Simply Login </title>

    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

    <br>

    <div class="container bg-with shadow-md p-5" style="width: 5OOpx;">

        <h1> Login </h1>

        <br>

        <form method="POST" autocomplete="off">

            {% csrf_token %} {{form.as_p}}

            <input class="btn btn-primary" type="submit" value="Submit" />

            <br> <br>

            <p> Don't have an account? <a href="{% url 'register' %}"> Register </a> </p>



        </form>




    </div>


</head>






</html>